body {
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    background-color: #F8FAED;
    margin: 0 auto;
}

.banner::before {
    background-color: #D9D9D9;
    display: block;
    position: absolute;
    min-width: 100%;
    min-height: 140px;
    opacity: 0.6;
    background-position: center;
    z-index: -1;
    content: "";
}

div.header img#avatar {
    width: 150px;
    margin: 10px 10px 10px 20px;
    border-radius: 50%;
}

div.header h1 {
    margin: 0 auto;
    padding-left: 10px;
    padding-bottom: 5px;
}

div.content {
    min-height: auto;
    padding: 15px;
}

.labs li {
    border-radius: 10px;
    border: solid 2px #eaeaea;
    list-style-type: none;
    text-align: center;
    margin: 2% 25%;
}

.labs li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #273c75;
}

.footer {
    border-top: 1px solid #ddd;
    overflow: hidden;
    opacity: 0.6;
    background-color: #D9D9D9;
    padding: 15px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer .site-info {
    float: left;
}

.footer .w3c-validator {
    float: right;
    padding-right: 30px;
}

#menu {
    position: absolute;
    top: 15px;
    right: 20px;
}

#menu a {
    text-decoration: none;
}

#mood ul {
    list-style-type: none;
    overflow: hidden;
}

#mood li {
    float: left;
    padding-right: 10px;
}

#mood ul li img {
    height: 200px;
    width: 200px;
}